{% extends "base.html" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-light"><a href="./media/file/Мануал.docx" download>Руководство пользователя</a></h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <h5 class="font-italic">Страница авторизации</h5>
        <h5 class="font-weight-light">При переходе на сайт сразу же высвечивается страница авторизации. Вам требуется
            ввести свой логин (адрес электронной почты, под которой вы зарегистрированы) и пароль, после чего нажать
            «Войти».</h5>
        <h5 class="font-italic"> Главная страница</h5>
        <h5 class="font-weight-light">После входа вы перейдете на главную страницу. На ней отображаются дисциплины,
            которые вы ведёте. Вы можете выбрать дисциплину как на главном экране, так и в выпадающем меню слева (нажав
            на соответствующую надпись).</h5>
        <h5 class="font-italic">Дисциплина</h5>
        <h5 class="font-weight-light">При переходе в дисциплину вы можете как добавить элементы (Лекция, Ссылка, Файл,
            Тест, Задание), так и отредактировать уже существующие. В самом элементе можно заполнить такие поля,
            как:</h5>
        <ul>
            <li><h5 class="font-weight-light"> Название – ID;</h5></li>
            <li><h5 class="font-weight-light">Описание.</h5></li>
        </ul>
        <h5 class="font-weight-light">Помимо того, если это тест, то в нем можно настроить те задачи, которые в нем
            будут выдаваться, а также задать ограничение по времени на его прохождение.</h5>
        <h5 class="font-weight-light">Если это <em>задание</em>, то в нем можно добавить его условия и также ограничить
            время на выполнение.</h5>
        <h5 class="font-weight-light">Если это <em>ссылка</em>, то вам необходимо вставить URL (адрес) в соответствующее
            поле.</h5>
        <h5 class="font-weight-light">Если это <em>файл</em>, то требуется прикрепить соответствующий файл.</h5>
        <h5 class="font-weight-light">Как только редактирование элемента завершено, то в строке «Отправить» можно
            выбрать необходимую вам функцию. В <em>тесте, задании</em> и <em>лекции</em> можно как сохранить и перейти
            обратно в меню дисциплины, так и просто сохранить, дабы проверить сохранённые настройки. В остальных
            элементах доступна лишь функция отправки.</h5>
        <h5 class="font-italic">Меню преподавателя</h5>
        <h5 class="font-weight-light">В данном разделе слева представлены несколько подразделов, среди которых:</h5>
        <ul>
            <li><h5 class="font-weight-light">Группы студентов;</h5></li>
            <li><h5 class="font-weight-light">Банк задач;</h5></li>
            <li><h5 class="font-weight-light">Добавление дисциплины;</h5></li>
            <li><h5 class="font-weight-light">Добавление темы;</h5></li>
            <li><h5 class="font-weight-light">Создание группы;</h5></li>
            <li><h5 class="font-weight-light">Зачисление на курс;</h5></li>
            <li><h5 class="font-weight-light">Создание приглашения;</h5></li>
        </ul>
        <h5 class="font-italic">Группы студентов</h5>
        <h5 class="font-weight-light">Здесь можно увидеть список групп студентов. Доступна возможность поиска при помощи
            соответствующей панели справа, а также выбора дисциплины в выпадающем меню.</h5>
        <h5 class="font-weight-light">После выбора необходимой дисциплины отобразится список тех групп, которые проходят
            по ней обучение. При помощи соответствующих кнопок можно посмотреть <em>список студентов</em> и
            <em>табель</em> по группе в целом.</h5>
        <h5 class="font-weight-light">В списке студентов при нажатии будут отображаться студенты, состоящие в группе. С
            помощью кнопки <em>оценки</em> можно будет посмотреть оценки студента за тесты и отредактировать их. Кнопка
            <em>табель</em> позволяет посмотреть все оценки студентов за все работы (тесты и задания).</h5>
        <h5 class="font-weight-light">В разделе <em>банк задач</em> можно добавлять задания для тестов, а также
            редактировать или удалять уже существующие.</h5>
        <h5 class="font-weight-light">В разделе <em>добавление дисциплины</em> можно добавить новую дисциплину, также
            раздел <em>добавление темы</em> позволяет выбрать имеющуюся дисциплину и добавить для нее новую тему.</h5>
        <h5 class="font-weight-light">Раздел <em>создание группы</em> позволяет создать новую группу студентов. При
            создании группы и нажатии на «Сохранить и продолжить» добавится новая группа, при этом вы останетесь в том
            же разделе. В случае нажатия на «Сохранить», создастся группа, а вас перебросит на Главную страницу.</h5>
        <h5 class="font-weight-light">Раздел <em>зачисление на курс</em> позволяет добавлять группы на курс дисциплины,
            а также удалять их оттуда. Для этого в выпадающем меню требуется выбрать нужную дисциплину, после чего
            нажать «Добавить» на кнопку нужной группы в правом меню, если требуется добавить группу на курс, либо нажать
            «Убрать» напротив группы в левом меню, если требуется убрать группу с курса.</h5>
        <h5 class="font-weight-light">Раздел <em>создание приглашения</em> позволяет создать уникальную ссылку, при
            помощи которой можно добавить студента в группу. Для этого требуется выбрать группу в выпадающем меню, после
            чего выбрать дату, до какого числа будет действовать ссылка и нажать «Создать ссылку». В меню ниже создастся
            ссылка, которую можно скопировать при помощи соответствующей кнопки и отправить студенту.</h5>


    </section>
{% endblock %}