{% extends "base.html" %}

{% block title %}Список студентов{% endblock %}


{% block content %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-light">Задание: {{ name_task }} </h1>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="dropdown content-header">
        <button class="btn btn-secondary dropdown-toggle bg-gray-dark" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Задание
        </button>


        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start"
             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(8px, 52px, 0px);">
            {% for task in arr_name_tasks %}
            <a class="dropdown-item" href="{% url 'tasks_to_check' main_task_id=task.pk%}">
                {{ task.name }}
            </a>
            {% endfor %}
        </div>


    </div>


                <ul class="list-group list-group-flush content-header ">
                    {% for stud in user_info %}
                    <li class="list-group-item bg-gray-dark border border-light">
                        <span class="badge badge-info w-4 p-3">{{ name_group }}</span>
                        <a href="{% url 'add_grade' user_id=stud.pk main_task_id=main_task_id %}"> {{ stud.last_name }} {{ stud.first_name }}
                                {% if stud.pk in list_checked %}
                                    <span class="badge badge-success">Выполнено</span>
                                {% else %}
                                    <span class="badge badge-danger">Не выполнено</span>
                                {% endif %}
                        </a>
                    </li>
                    {% endfor %}

                </ul>

</section>

<script src="themeForm.js"></script>


{% endblock %}