{% extends "base.html" %}

{% block title %}Список студентов{% endblock %}

{% load static %}

{% block content %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-light">Задание: {{ task }} </h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">

        <form method="POST" action="{% url 'tasks_to_check' %}">
            {% csrf_token %}
            <select class="form-control col-lg-2 col-md-2 mb-4 bg-gray-dark"
                    name="id"
                    onchange="form.submit()">

                {% if selected_task %}
                    <option value="{{ selected_task.pk }}" selected>{{ selected_task }}
                    </option>
                {% endif %}

                {% for task in tasks %}

                    {% if task.pk != selected_task.pk %}
                        <option value="{{ selected_task.pk }}">{{ selected_task }}</option>
                    {% endif %}

                {% endfor %}

            </select>
        </form>


        <ul class="list-group list-group-flush content-header ">
            {% for stud in users %}
                <li class="list-group-item bg-gray-dark border border-light">
                    <!-- <span class="badge badge-info w-4 p-3"></span> -->
                    {% if stud.pk in userTasksIds %}
                        <a href="{% url 'add_grade' user_id=stud.pk main_task_id=selected_task.pk %}"> {{ stud.last_name }} {{ stud.first_name }}
                            <span class="badge badge-success">Выполнено</span>
                        </a>
                    {% else %}
                        <a href="#"> {{ stud.last_name }} {{ stud.first_name }}
                            <span class="badge badge-danger">Не выполнено</span>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}

        </ul>

    </section>


{% endblock %}