{% extends "base.html" %}

{% block title %}Список студентов{% endblock %}


{% block content %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-light">Задание: {{ name_main_task_info }}</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="dropdown content-header">
        <button class="btn btn-secondary dropdown-toggle bg-gray-dark" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Группы
        </button>


        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start"
             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(8px, 52px, 0px);">
            {% for name_group in name_groups %}
            <a class="dropdown-item"
               href="{% url 'completed_and_notcompleted_work' task_id=name_main_task_info.pk group_id=name_group.pk %}">
                {{ name_group.name }} </a>
            {% endfor %}
        </div>


    </div>


</section>

<script src="themeForm.js"></script>


{% endblock %}