<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ETS</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    {% include "scripts/headSource.html" %}

</head>
<body class="register-page bg-dark">
    <div class="register-box">
        <div class="card">
            <div class="card-header bg-success text-center">
                <h3>ETS - Авторизация</h3>
            </div>
            <div class="card-body bg-dark border border-secondary">
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Почта" value="{{ form.data.email }}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Пароль"  minlength="8">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit" id="submitButton" class="btn btn-primary btn-block">Войти</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <footer class="bg-dark">
        <strong>Copyright &copy; 20**-20**</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b></b>
        </div>
    </footer>


{% include "scripts/afterFooterSource.html" %}

</body>
</html>