{% extends "base.html" %}

{% block title %}Список студентов{% endblock %}


{% block content %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-light">Задание: {{ task }}</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="dropdown content-header">
            <form method="POST" action=" {% url 'tasks_list' subject_id=requestData.subject_id task_id=requestData.task.pk %}">
                {% csrf_token %}
                <select class="form-control col-lg-2 col-md-2 mb-4 bg-gray-dark"
                        name="group"
                        onchange="form.submit()">

                    {% if selected_group %}
                        <option value="{{ selected_group.pk }}" selected>{{ selected_group }}
                        </option>
                    {% endif %}

                    {% for group in groups %}

                        {% if group.pk != selected_group.pk %}
                            <option value="{{ group.pk }}">{{ group }}</option>
                        {% endif %}

                    {% endfor %}

                </select>
            </form>
        </div>

        <ul class="list-group list-group-flush content-header ">
            {% for user in userData.users %}
                <li class="list-group-item bg-gray-dark border border-light">
                    <span class="badge badge-info w-4 p-3">{{ selected_group }}</span>
                    {% if user.pk in userData.users_complete_list %}
                        <a href="{% url 'add_grade' user_id=user.pk main_task_id=requestData.task.pk %}"> {{ user.last_name }} {{ user.first_name }}
                            <span class="badge badge-success">Выполнено</span>
                        </a>
                    {% else %}
                        <a href="#"> {{ user.last_name }} {{ user.first_name }}
                            <span class="badge badge-danger">Не выполнено</span>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}

        </ul>

    </section>

    <script src="themeForm.js"></script>

{% endblock %}
