{% extends "base.html" %}

{% block title %}Список групп{% endblock %}

{% load static %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-light">Список групп</h1>
            </div>
        </div>
    </div>
</div>


<section class="content">

    <div class="container-fluid">
        <form method="POST" action=" {% url 'groups_list' %}">
        {% csrf_token %}
            <div class="card">
                <div class="card-header bg-success">
                    <h3 class="card-title">Поиск групп</h3>
                    <div class="col-8 flex-row float-right">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark"><i class="fas fa-search"></i></span>
                            </div>
                            <input type="text" id="searchField" class="form-control p-0 h-auto bg-dark">
                        </div>
                    </div>
                </div>

                <div class="card-body bg-gradient-dark">
                    <div>
                        <select class="form-control col-lg-2 col-md-2 mb-4 bg-gray-dark"
                                name="subject"
                                onchange="form.submit()">

                            {% if subject_selected_object %}
                            <option value="{{subject_selected_object.pk}}" selected>{{subject_selected_object.name}}
                            </option>
                            {% endif %}

                            {% for subject in subjects %}

                            {% if subject.pk != subject_selected_object.pk %}
                            <option value="{{subject.pk}}">{{subject.name}}</option>
                            {% endif %}

                            {% endfor %}

                        </select>

                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="AllQuestions">
                            <div class="small-box bg-dark">
                                <ul class="p-0" id="BankList">
                                    {% for group in groups %}

                                    <li class="list-group mb-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">

                                                <button name="editButton" type="button" class="btn bg-cyan">
                                                    <a href="StudentCatalog.html">Список студентов</a>
                                                </button>
                                              
                                                <button type="button" class="btn bg-primary">
                                                    {% if subject_selected_object %}
                                                    <a href="{% url 'show_grade_card_list' group_id=group.id subject_id=subject_selected_object.pk %}">Табель</a>
                                                    {% else %}
                                                    <a href="{% url 'show_grade_card_list' group_id=group.id subject_id=1 %}">Табель</a>
                                                    {% endif %}
                                                </button>
                                              
                                            </div>
                                            <p class="form-control bg-dark">{{group}}</p>
                                        </div>
                                    </li>

                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
      
        <script defer src="{% static 'content_bank/SearchModule.js' %}"></script>
      
    </div>
</section>
{% endblock %}