{% extends "base.html" %}

{% block title %}Список групп{% endblock %}


{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-light">Список групп</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">

    <div class="container-fluid">
        <form>
            <div class="card">
                <div class="card-header bg-success">
                    <h3 class="card-title">Поиск групп</h3>
                    <div class="col-8 flex-row float-right">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark"><i class="fas fa-search"></i></span>
                            </div>
                            <input type="text" id="searchField" class="form-control p-0 h-auto bg-dark">
                        </div>
                    </div>
                </div>

                <div class="card-body bg-gradient-dark">
                    <div class="row">
                        <div class="col-lg-12" id="AllQuestions">
                            <div class="small-box bg-dark">
                                <ul class="p-0" id="BankList">
                                    {% for group in groups %}
                                    <li class="list-group mb-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <a name="editButton" type="button" class="btn bg-cyan" href="{% url 'students_list' group.pk %}">
                                                    Список студентов
                                                </a>
                                            </div>
                                            <p class="form-control bg-dark">{{ group.name }}</p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script defer src="SearchModule.js"></script>
    </div>
</section>
{% endblock %}