{% extends "base.html" %}

{% block content %}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-light"> Руководство пользователя </h1>
                <form method="post" action="{% url 'manual_for_student' %}">
                    {% csrf_token %}
                    <button name="download" type="submit" class="btn bg-cyan">скачать мануал</button>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <h5 class="font-italic">Страница авторизации</h5>
    <h5 class="font-weight-light">При переходе на сайт сразу же высвечивается страница авторизации. Вам требуется
        ввести свой логин (адрес электронной почты, под которой вы зарегистрированы) и пароль, после чего нажать
        «Войти».</h5>
    <h5 class="font-italic">Главная страница</h5>
    <h5 class="font-weight-light">После входа вы перейдете на главную страницу. На ней можно перейти в дисциплины,
        которые в данный момент вы проходите.</h5>
    <h5 class="font-italic">Дисциплина</h5>
    <h5 class="font-weight-light">При переходе в дисциплину вы можете увидеть все лекции, задания, тесты и файлы,
        которые выкладывал преподаватель.</h5>
    <h5 class="font-weight-light">При переходе в задание вы можете выставить оценку, а также прикрепить файл с
        выполненным заданием.</h5>
    <h5 class="font-italic">Мои оценки</h5>
    <h5 class="font-weight-light">При помощи меню слева вы можете выбрать раздел с оценками. В нем выпадающими
        списками отображаются оценки по дисциплинам. Для того, чтобы посмотреть оценки по дисциплине, вам требуется
        нажать «+» в строке с названием дисциплины.</h5>
    <h5 class="font-italic">Работы на проверку</h5>
    <h5 class="font-weight-light">Периодически вам будут приходить на проверку работы других студентов. Для того,
        чтобы просмотреть их и оценить вам нужно нажать на пункт работы на проверку в левом меню и выбрать из
        выпадающего списка соответствующую работу. После этого вам требуется нажать на ФИО студента. Откроется окно,
        в котором будет сама работа, ее статус и возможность выставить оценку.</h5>

</section>
{% endblock %}