{% extends "base.html" %}

{% block title %}{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} теста{% endblock %}


{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-light">{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} теста</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">

    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-header bg-success">
                    <h3 class="card-title">Основное</h3>
                </div>

                <div class="card-body bg-gradient-dark">
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label>Название - ID</label>
                                <input type="text" class="form-control bg-dark" name="name" placeholder="Ввод" value="{{ form.name.value }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label>Описание</label>
                                <textarea class="form-control bg-dark" name="description" rows="3" placeholder="Ввод" style="height: 250px;" required>{{ form.description.value }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-success">
                    <h3 class="card-title">Основное</h3>
                </div>

                <div class="card-body bg-gradient-dark">
                    <div class="row">

                        <div class="col-lg-6 splide" id="inTest">
                            <div class="form-group">
                                <p class="card-header bg-success">Задачи в тесте</p>
                            </div>
                            <div class="splide__track small-box bg-dark">
                                <ul class="splide__list" id="TestList" role="group">
                                    {% if form.instance.pk %}
                                        {% for question in form.instance.questions.all %}
                                        <li class="splide__slide">
                                            <div class="input-group">
                                                <p class="form-control bg-dark">{{question.question_name}}</p>
                                                <div class="input-group-prepend">
                                                    <button name="removeButton" type="button" class="btn bg-danger" id="{{question.pk}}">Убрать</button>
                                                    <input type="hidden" name="questions[]" value="{{question.pk}}">
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-6 splide" id="inBank">
                            <div class="card-header bg-success row m-0 mb-2">
                                    <p class="col-4 m-0 p-0">Задачи из банка</p>
                                    <div class="col-8 flex-row float-right">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-dark">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </div>
                                            <input type="text" id="searchField" class="form-control p-0 h-auto bg-dark">
                                        </div>
                                    </div>
                                </div>
                            <div class="splide__track small-box bg-dark">
                                    <ul class="splide__list" id="BankList" role="group">
                                        {% for question in questions %}
                                        <li class="splide__slide">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button name="addButton" type="button" class="btn bg-cyan" id="{{question.pk}}">Добавить</button>
                                                </div>
                                                <p class="form-control bg-dark">{{question.question_name}}</p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary bg-gradient-dark">
                        <div class="card-header bg-success">
                            <h3 class="card-title">Ограничение по времени</h3>
                        </div>
                        <div class="card-body">

                            <div class="form-group col-lg-6">
                                <label>Дата с:</label>
                                <div class="input-group date" id="dateFrom" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input bg-dark" data-target="#dateFrom" name="start_date" required value="{% if form.start_date.value|date:'d.m.y H:i' %} {{ form.start_date.value|date:'d.m.y H:i' }} {% else %} {{ form.start_date.value }} {% endif %}">
                                    <div class="input-group-append datepick" data-target="#dateFrom" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-6">
                                <label>Дата до:</label>
                                <div class="input-group date" id="dateTo" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input bg-dark" data-target="#dateTo" name="end_date" required value="{% if form.end_date.value|date:'d.m.y H:i' %} {{ form.end_date.value|date:'d.m.y H:i' }} {% else %} {{ form.end_date.value }} {% endif %}">
                                    <div class="input-group-append datepick" data-target="#dateTo" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary bg-gradient-dark">
                        <div class="card-header bg-success">
                            <h3 class="card-title">Отправить</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn bg-cyan col-12" id="submitButton">Сохранить тест</button>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn bg-cyan col-12" id="" name="saveAndReturn">Сохранить и вернуться к теме</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        {% load static %}

        <script defer src="{% static 'content_bank/SearchModule.js' %}"></script>
        <script defer src="{% static 'content_bank/dateFormat.js' %}"></script>
        <script defer src="{% static 'content_bank/test_form.js' %}"></script>

        <template id="RemoveFromQuest">
            <li class="splide__slide">
                <div class="input-group">
                    <p class="form-control bg-dark"></p>
                    <div class="input-group-prepend">
                        <button name="removeButton" type="button" class="btn bg-danger">Убрать</button>
                        <input type="hidden" name="questions[]">
                    </div>
                </div>
            </li>
        </template>

        <template id="AddQuestToTest">
            <li class="splide__slide">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button name="removeButton" type="button" class="btn bg-cyan">Добавить</button>
                    </div>
                    <p class="form-control bg-dark"></p>
                </div>
            </li>
        </template>

    </div>
</section>

{% endblock %}
