{% extends "base.html" %}

{% block title %}Список групп{% endblock %}

{% load static %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-light">Сдача задания</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card">
                            <div class="card-header bg-success">
                                <h3 class="card-title">Основное</h3>
                            </div>

                            <div class="card-body bg-gradient-dark">
                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label>Условие</label>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <button type="button" class="btn bg-gray-dark border border-light">
                                                    <label class="m-0 p-0" for="file">Добавить файл</label>
                                                </button>
                                                <input type="file" class="custom-file-input form-control" multiple="" name="files" style="display: none" id="file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div> <h3 class="text-center"><input type="number" class="form-control bg-gray-dark border border-light col-6 pb-10 " id="formGroupExampleInput" placeholder="Оценить свою работу"></h3></div>
                                <div class="row" id="fileContainer">
                                </div>
                            </div>
                        </div>
            <div class="row">
                            <div class="col-md-12">
                                <div class="card card-primary bg-gradient-dark">
                                    <div class="card-header bg-success">
                                        <h3 class="card-title">Отправить</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="submit" id="submitButton" class="btn bg-cyan col-12">Сохранить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        </form>

        <script defer src="{% static 'content_bank/taskUpload.js' %}"></script>
        <template id="fileTemplate">
            <div class="col-lg-6 col-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <p class="form-control bg-dark"></p>
                                    <div class="input-group-append">
                                        <button type="button" class="btn bg-danger">Убрать файл</button>
                                    </div>
                                </div>
                            </div>
                        </div>
        </template>
    </div>
</section>
{% endblock %}