{% extends "base.html" %}

{% block title %}{{ unit.name }}{% endblock %}


{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-light">Тема</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card bg-gradient-dark">
            <div class="card-header bg-gradient-success">
                <p class="m-0">Содержимое</p>
            </div>
            {% csrf_token %}
            {% if flag_tutor %} {# Проверка на статус персонала#}

            <div class="card-body">
                <div class="small-box shadow-none">
                    <button type="button" class="btn bg-cyan" data-toggle="modal" data-target="#modal-add">Добавить элемент</button>
                </div>
                {% for lecture in unit.lectures.all %}
                <div class="small-box" data-name="elementLecture">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <a name="editButton" class="btn bg-cyan" href="{% url 'unit_lecture_edit' unit.pk lecture.pk %}">Редактировать</a>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success border-0">Лекция</span>
                        </div>
                        <span class="form-control bg-dark name-text">{{lecture.name}}</span>
                        <div class="input-group-append">
                            <button type="button" id="lecture-{{lecture.pk}}" name="delButton" class="btn bg-danger" data-toggle="modal" data-target="#modal-delete">Удалить</button>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-control bg-dark border-0">
                            {{lecture.description}}
                        </div>
                    </div>
                </div>

                {% endfor %}
                {% for reference in unit.references.all %}
                <div class="small-box" data-name="elementReference">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <a name="editButton" class="btn bg-cyan" href="{% url 'unit_reference_edit' unit.pk reference.pk %}">Редактировать</a>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success border-0">Ссылка</span>
                        </div>
                        <a href="{{reference.reference}}" class="text-success form-control bg-dark">
                            <span class="name-text">{{reference.name}}</span>
                        </a>
                        <div class="input-group-append">
                            <button type="button" id="reference-{{reference.pk}}" name="delButton" class="btn bg-danger" data-toggle="modal" data-target="#modal-delete">Удалить</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for file in unit.files.all %}
                <div class="small-box" data-name="elementDownload">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <a name="editButton" class="btn bg-cyan" href="{% url 'unit_file_edit' unit.pk file.pk %}">Редактировать</a>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success border-0">Файл</span>
                        </div>
                        <a href="{{file.file.url}}" download class="text-success form-control bg-dark">
                            <span class="name-text">{{file.name}}</span>
                        </a>
                        <div class="input-group-append">
                            <button type="button" id="file-{{file.pk}}" name="delButton" class="btn bg-danger" data-toggle="modal" data-target="#modal-delete">Удалить</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for test in unit.tests.all %}
                <div class="small-box" data-name="elementTest">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <a name="editButton" class="btn bg-cyan" href="{% url 'unit_test_edit' unit.pk test.pk %}">Редактировать</a>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success border-0">Тест</span>
                        </div>
                        <span class="form-control bg-dark name-text">{{test.name}}</span>
                        <div class="input-group-append">
                            <button type="button" id="test-{{test.pk}}" name="delButton" class="btn bg-danger" data-toggle="modal" data-target="#modal-delete">Удалить</button>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-control bg-dark border-0">
                            {{test.description}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for task in unit.tasks.all %}
                <div class="small-box" data-name="elementQuestion">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <a name="editButton" class="btn bg-cyan" href="{% url 'unit_task_edit' unit.pk task.pk %}">Редактировать</a>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success border-0">Задание</span>
                        </div>
                        <a class="text-success form-control bg-dark" href=" {% url 'completed_and_notcompleted_work' task_id=task.pk group_id=1 %} ">
                            <span class="name-text">  {{task.name}}</span>
                        </a>
                        <div class="input-group-append">
                            <button type="button" id="task-{{task.pk}}" name="delButton" class="btn bg-danger" data-toggle="modal" data-target="#modal-delete">Удалить</button>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-control bg-dark border-0">
                            {{task.description}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                
                
            </div>
            {% elif flag_stud %}
            <div class="card-body">

                {% for lecture in unit.lectures.all %}
                <div class="small-box" data-name="elementLecture">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success border-0">Лекция</span>
                        </div>
                        <span class="form-control bg-dark name-text">{{lecture.name}}</span>
                    </div>
                    <div class="input-group">
                        <div class="form-control bg-dark border-0 h-auto">
                            {{lecture.description}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for reference in unit.references.all %}
                <div class="small-box" data-name="elementReference">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success border-0">Ссылка</span>
                        </div>
                        <a href="{{reference.reference}}" class="text-success form-control bg-dark">
                            <span class="name-text">{{reference.name}}</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% for file in unit.files.all %}
                <div class="small-box" data-name="elementDownload">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success border-0">Файл</span>
                        </div>
                        <a href="{{file.file.url}}" download="#FileName" class="text-success form-control bg-dark">
                            <span class="name-text">{{file.name}}</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% for test in unit.tests.all %}
                <div class="small-box" data-name="elementTest">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success border-0">Тест</span>
                        </div>
                        <a href="{% url 'test_testing' unit.pk test.pk %}" class="form-control bg-dark name-text">{{test.name}}</a>
                    </div>
                    <div class="input-group">
                        <div class="form-control bg-dark border-0 h-auto">
                            <h5>С <b>{{test.start_date|date:'d.m.y H:i'}}</b> по <b>{{test.end_date|date:'d.m.y H:i'}}</b></h5>
                            {{test.description}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for task in unit.tasks.all %}
                <div class="small-box" data-name="elementQuestion">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success border-0">Задание</span>
                        </div>
                        <a href=" {% url 'student_task_upload' task_id=1 %} " class="text-success form-control bg-dark">
                            <span class="name-text">{{task.name}}</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <h1>Упс, у вас нет прав для просмотра этого материала</h1>
            {% endif %}
        </div>

        {% if flag_tutor %}
        {% load static %}
        <script defer src="{% static 'content_bank/courseCatalog.js' %}"></script>
        <div class="modal fade" id="modal-add">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h4 class="modal-title">Выбор элемента для создания</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-pills row">
                            <li class="col-lg-4 col-4">
                                <a href="{% url 'unit_lecture_create' unit.pk %}">
                                    <div class="small-box bg-success">
                                        <div class="inner">
                                            <div class="text-light">Лекция</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="col-lg-4 col-4">
                                <a href="{% url 'unit_reference_create' unit.pk %}">
                                    <div class="small-box bg-success">
                                        <div class="inner">
                                            <div class="text-light">Ссылка</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="col-lg-4 col-4">
                                <a href="{% url 'unit_file_create' unit.pk %}">
                                    <div class="small-box bg-success">
                                        <div class="inner">
                                            <div class="text-light">Файл</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="col-lg-4 col-4">
                                <a href="{% url 'unit_test_create' unit.pk %}">
                                    <div class="small-box bg-success">
                                        <div class="inner">
                                            <div class="text-light">Тест</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="col-lg-4 col-4">
                                <a href="{% url 'unit_task_create' unit.pk %}">
                                    <div class="small-box bg-success">
                                        <div class="inner">
                                            <div class="text-light">Задание</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="modal-delete">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h4 class="modal-title">Подтверждение</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="textModal"></p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" id="RemoveButton" data-dismiss="modal" class="btn btn-danger">Удалить</button>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}

    </div>
</section>
{% endblock %}
